<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
        <style>
         .full-screen-container {
            position: relative;
            width: 100%;
            height: 100vh; /* Full viewport height */
            overflow: hidden;
            background-color: black;
        }

        .home-content {
            position: absolute;
            color: white;
            top: 20%;
            left: 10%;
            text-align: left;
            z-index: 2;
        }
    </style>
</head>

<body>
    {% include 'base/navbar.html' %}

    <div class="full-screen-container"></div>
        <div class="home-content">
            <h1>Đây là trang blog</h1>
        </div>
    </div>

    {% include 'base/footer.html' %}


</body>
</html>

